In [6]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [18]:
num=[10,20,14,55,43,87,76]
length=len(num)
print("Number of Item in the list2:",length)

Number of Item in the list2: 7

In [21]:
print("- YOUR NMAE -")
print("- Your age - ")
print("- Your Profession - ")

- YOUR NMAE -
- Your age -
- Your Profession -

In [22]:
lists=[1,"welcome",2,"Hope"]
print(tuple(lists))

(1, 'welcome', 2, 'Hope')

In [46]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [43]:
list1 = [20, 10, 16, 19, 25, 1, 276, 188]
 
for num in list1:
    if (num % 2 == 1):
        print(num,"IS ODD")

19 IS ODD
25 IS ODD
1 IS ODD

In [44]:
list1 = [20, 10, 16, 19, 25, 1, 276, 188]
 
for num in list1:
    if (num % 2 == 0):
        print(num,"IS EVEN")

20 IS EVEN
10 IS EVEN
16 IS EVEN
276 IS EVEN
188 IS EVEN

In [75]:
lists = ("Artificial Intelligence")
tuple1=tuple(lists)
print(tuple1)
for tmp in tuple1:
    print(tmp, end="")
for tmp in "\n":
    print()
for tmp in tuple1:
    print(tmp)

('A', 'r', 't', 'i', 'f', 'i', 'c', 'i', 'a', 'l', ' ', 'I', 'n', 't', 'e', 'l', 'l', 'i', 'g', 'e', 'n', 'c', 'e')
Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e